<div class="container" >
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        <div class="form-error">
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.tricksGroup) }}
        {{ form_widget(form.tricksGroup) }}
        <div class="form-error">
            {{ form_errors(form.tricksGroup) }}
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-9">
                {{ form_row(form.mainImageFile, {
                    attr: {
                        'placeholder': 'Select an article image'
                    }
                }) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <h3>Images</h3>
        <button type="button" class="add_image_link" data-collection-holder-class="images">Ajoute une image</button>
        <ul class="images"
            data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"
        >
            {% for image in form.images %}
                <li>{{ form_row(image.name) }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        <h3>Vidéos</h3>
        <button type="button" class="add_video_link" data-collection-holder-class="video">Ajoute un lien vers une vidéo</button>
        <ul class="video"
            data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
        >
            {% for video in form.videos %}
                <li>{{ form_row(video.link) }}</li>
            {% endfor %}
        </ul>

    </div>

    <div class="form-group">
        {{ form_row(form.Editer) }}
    </div>
    {{ form_end(form) }}
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log('test');
        document
            .querySelectorAll('.add_image_link')
            .forEach(btn => {
                btn.addEventListener("click", (e) => {
                    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                    const image = document.createElement('li');

                    image.innerHTML = collectionHolder
                        .dataset
                        .prototype
                        .replace(
                            /__name__/g,
                            collectionHolder.dataset.index
                        );

                    collectionHolder.appendChild(image);

                    collectionHolder.dataset.index++;
                })
            });
    })

    // document.addEventListener('DOMContentLoaded', () => {
    //     console.log('test');
    //     document
    //         .querySelectorAll('.add_video_link')
    //         .forEach(btn => {
    //             btn.addEventListener("click", (e) => {
    //                 const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
    //
    //                 const item = document.createElement('li');
    //
    //                 item.innerHTML = collectionHolder
    //                     .dataset
    //                     .prototype
    //                     .replace(
    //                         /__name__/g,
    //                         collectionHolder.dataset.index
    //                     );
    //
    //                 collectionHolder.appendChild(item);
    //
    //                 collectionHolder.dataset.index++;
    //             })
    //         });
    // })


    document
        .querySelectorAll('ul.video li')
        .forEach((video) => {
            addVideoFormDeleteLink(video)
        })

    document.addEventListener('DOMContentLoaded', () => {
        console.log('test');
        document
            .querySelectorAll('.add_video_link')
            .forEach(btn => {
                btn.addEventListener("click", (e) => {
                    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                    const video = document.createElement('li');

                    video.innerHTML = collectionHolder
                        .dataset
                        .prototype
                        .replace(
                            /__name__/g,
                            collectionHolder.dataset.index
                        );

                    collectionHolder.appendChild(video);

                    collectionHolder.dataset.index++;
                    addVideoFormDeleteLink(video);
                })
            });
    })


    const addVideoFormDeleteLink = (video) => {
        const removeFormButton = document.createElement('button');
        removeFormButton.innerText = 'Delete this video';

        video.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault();
            // remove the li for the tag form
            video.remove();
        });
    }
</script>
