{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des tricks</h1>
        <div class="row row-cols-5">
        {% for trick in tricks %}
                <div class="col mb-4">
                    <div class="card mb-3">
                        <h3 class="card-header">{{ trick.name }}</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                            <rect width="100%" height="100%" fill="#868e96"></rect>
                            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">{{ trick.description|u.truncate(10, '...', false)}}</p>
                        </div>
                        <div class="card-body">
                            <a href="{{ path('app_trick_one', {id: trick.id}) }}" class="card-link"><i class="fa-solid fa-circle-info"></i></a>
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('app_trick_edit', {id: trick.id}) }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteTrickModal{{ trick.id }}">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>

                            {% endif %}
                        </div>
                    </div>
                </div>
            <!-- Modal -->
            <div class="modal fade" id="deleteTrickModal{{ trick.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation de la suppression du trick</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Pour confirmer la suppression, cliquer sur ce lien
                            <a href="{{ path('app_trick_delete', {id: trick.id}) }}" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>


    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(tricks) }}
    </div>

{% endblock %}
