{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" >
        <h1 class="mt-4"> Edition d'un trick</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <div class="form-error">
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.trickgroup) }}
            {{ form_widget(form.trickgroup) }}
            <div class="form-error">
                {{ form_errors(form.trickgroup) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(form.Editer) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
Edition d'un SnowTrick
{% endblock %}

